management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

server:
  port: 8080

spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: AUTENTICACAO-SERVICE
              uri: lb://AUTENTICACAO-SERVICE
              predicates:
                - Path=/autenticacao/**
              filters:
                - StripPrefix=1
            - id: CATALOGO-SERVICE
              uri: lb://CATALOGO-SERVICE
              predicates:
                - Path=/catalogo/**
              filters:
                - StripPrefix=1
            - id: ESTOQUE-SERVICE
              uri: lb://ESTOQUE-SERVICE
              predicates:
                - Path=/estoque/**
              filters:
                - StripPrefix=1
            - id: PROPOSTA-SERVICE
              uri: lb://PROPOSTA-SERVICE
              predicates:
                - Path=/proposta/**
              filters:
                - StripPrefix=1

eureka:
  instance:
    prefer-ip-address: true
    hostname: api-gateway
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://registry:8761/eureka/