spring:
  application:
    name: AUTENTICACAO-SERVICE
  profiles:
    active: dev
  rsocket:
    server:
      port: 8081

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/