server:
  port: 8761

spring:
  application:
    name: REGISTRO-SERVICE

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
